extends topbar

block content
    a(style={'margin-left': '10%'}).button-highlight(href='/signup') New Folder
    div.folder-section
        div.folder History Notes
        div.folder History Notes
        div.folder History Notes
        div.folder History Notes
        div.folder History Notes
        div.folder History Notes
        div.folder History Notes longer name for testing
        div.folder History Notes
        div.folder History Notes
