extends topbar

block head
    link(rel='stylesheet', href='/stylesheets/note.css')
    script(type='text/javascript' src='javascripts/note.js')
    script(type='text/javascript' src='plugin/tinymce/tinymce.min.js')
    script(type='text/javascript' src='plugin/tinymce/init-tinymce.js')

block content
    #note-data(data-id=note.id)
    .note-section
        .note-header
            span#note-title(class=(note.name=='Untitled note') && 'untitled')= note.name
            input#note-title-editor.hidden(type='text' value=note.name)
            #move-btn.folder-btn.material-icons.md-48 folder
                .move-btn-dropdown
                    table
                        tr.headers
                            td.left Move
                        each folder in folders
                            tr
                                td.left
                                    a.move-folder(data-id=folder._id)= folder.name

        .note-controls
            button.font-controls controls
            button.record-btn Record
        textarea.summary-text Summary Area
        textarea.tinymce
