extends topbar

block head
    link(rel='stylesheet', href='/stylesheets/note.css')
    script(type='text/javascript' src='javascripts/note.js')
    script(type='text/javascript' src='plugin/tinymce/tinymce.min.js')
    script(type='text/javascript' src='plugin/tinymce/init-tinymce.js')

block content
    #note-data(data-id=note.id, data-content=note.content)
    .note-section
        .note-header
            span#note-title(class=(note.name=='Untitled note') && 'untitled')= note.name
            input#note-title-editor.hidden(type='text' value=note.name)
            #move-btn.folder-btn.material-icons.md-48 folder
                .move-btn-dropdown
                    table
                        tr.headers
                            td.left Move
                        each folder in folders
                            tr
                                td.left
                                    a.move-folder(data-id=folder._id)= folder.name

        .record-controls
            label#record-text.record-btn Start/Stop Recording
                div#start-record-btn.deactivated.material-icons.md-48 mic
                div#stop-record-btn.activated.hidden.material-icons.md-48 mic
        div#summary-section.summary-section
            for sentence in note.sentences.reverse()
                .summary-element
                    .add-summary-btn.ready.material-icons.md-48 add_circle
                    textarea(readonly).summary-text= sentence
            div.summary-element
                //- div.add-summary-btn.material-icons.md-48 add_box
                //- textarea(readonly).summary-text Press record to start generating summaries.
                label Press record to start generating summaries.
        textarea.tinymce
