extends layout

block content
	.image
		img(src='images/logo-light.svg' alt='NOD Logo' align='middle')
	.requirestext
		span You must be logged in to access this content. 
		a(href='/') Log in
