extends topbar

block head
    script(type='text/javascript' src='javascripts/settings.js')

block content
    form#choose-file-form(enctype='multipart/form-data')
        input#choose-file(type='file' name='file')
    .settings
        .profile-picture
            .picture
            #upload.overlay
                span.material-icons.md-48 file_upload
        h3.email= email
        form#edit-user(action='/users/edit', method='post')
            #theme
                select#theme-select.hidden(name='theme')
                    option(value='light' selected=(theme=='light')) Light
                    option(value='dark' selected=(theme=='dark')) Dark
                a#theme-btn.button-highlight= theme[0].toUpperCase() + theme.slice(1) + ' Theme'
                #theme-dropdown.dropdown.hidden
                    table
                        tr
                            td.left
                                a(data-value='light') Light
                        tr
                            td.left
                                a(data-value='dark') Dark

            input#change-email(type='text' placeholder='change email' name='email').changeEmail
            input#change-password(type='password' placeholder='change password' name='password').changePassword
            a.button-highlight(href='javascript:{}' onclick="document.getElementById('edit-user').submit(); return false;") Save
