extends layout

block head
    link(rel='stylesheet', href='/stylesheets/signup.css')

block header
    .signup-header
        h1 Sign Up for Free

block content
    .signup-box
        input.text-field(type='text' placeholder='email')
        input.text-field(type='password' placeholder='password')
        input.text-field(type='password' placeholder='confirm password')
    .signup-button
        a.button#sbutton(href='/mynotes') Sign Up
