extends layout

block head
    link(rel='stylesheet', href='/stylesheets/signup.css')

block header
    .signup-header
        h1 Sign up for Free

block content
    form#newuser(action='/users/new' method='post')
        .signup-box
            input.text-field(type='text' placeholder='email' name='email')
            input.text-field(type='password' placeholder='password' name='password')
            input.text-field(type='password' placeholder='confirm password' name='confirmedPassword')
        .signup-button
            a.button(href='javascript:{}' onclick="document.getElementById('newuser').submit(); return false;") Sign up
