extends layout

block header
    .signup-header
        img#logo(src='images/logo-light.svg' alt='NOD Logo' algin='middle')
        h1 Sign up for free.

block content
    form#newuser(action='/users/new' method='post')
        .signup-box
            input.text-field(type='text' placeholder='email' name='email')
            input.text-field(type='password' placeholder='password' name='password')
            input.text-field(type='password' placeholder='confirm password' name='confirmedPassword')
        .signup-button
            a.button(href='javascript:{}' onclick="document.getElementById('newuser').submit(); return false;") Sign up
        .footer
            body Already have an account? 
            a#login(href='/') Log in
