extends layout

block head
    link(rel='stylesheet', href='/stylesheets/splash.css')

block header
    .splash-header
        h1 Generate clean, summarized notes<br /> with the click of a button.
        img#logo(src='images/logo-light.svg' alt='NOD Logo' align='left')
        a#signup(href='/signup') Sign up

block content
    .login-box
        form#login(action='/users/login' method='post')
            input.text-field(type='text' placeholder='email' name='email')
            input.text-field(type='password' placeholder='password' name='password')
            a.button(href='javascript:{}' type='submit' onclick="document.getElementById('login').submit(); return false;") Log in
