extends layout

block header
    .topbar
        span.nod
            img(src='images/logo-dark.svg')
        a(href='/mynotes') My Notes
        a(href='/note?new=true') New Note
        .username
            span.email(href='/settings')= email
            span.avatar
                .profile-picture
            .user-dropdown
                table
                    tr
                        td.left
                            a(href='/settings') Settings
                    tr
                        td.left
                            a(href='/users/logout') Logout
