extends layout

block header
    .topbar
        a.nod(href='/') NOD
        a(href='/mynotes') My Notes
        a(href='/note') New Note
        .username
            a(href='/settings') Username
            span.avatar
                img
