extends layout

block header
    .topbar
        table.nav
            tr
                td
                    span.nod
                        if (theme == 'light')
                            img(src='images/logo-dark.svg')
                        else if (theme == 'dark')
                            img(src='images/logo-light.svg')
                td
                    a(href='/mynotes') My Notes
                td
                    a(href='/note?new=true') New Note
        .username
            span.email(href='/settings')= email
            span.avatar
                .profile-picture
            .user-dropdown
                table
                    tr
                        td.left
                            a(href='/settings') Settings
                    tr
                        td.left
                            a(href='/users/logout') Logout
