extends layout

block header
    .topbar
        table.nav
            tr
                td
                    span.nod
                        img(src='images/logo-' + theme + '.svg')
                td
                    a(href='/mynotes') My Notes
                td
                    a(href='/note?new=true') New Note
        .username
            span.email(href='/settings')= email
            span.avatar
                .profile-picture
                    .picture
            .user-dropdown
                table
                    tr
                        td.left
                            a(href='/settings') Settings
                    tr
                        td.left
                            a(href='/users/logout') Logout
