=vertical-align()
	display: table-cell
	vertical-align: middle

=box-shadow($params)
	-webkit-box-shadow: $params
	-moz-box-shadow: $params
	box-shadow: $params

=circle($diameter)
	width: $diameter
	height: $diameter
	border-radius: $diameter