.topbar
	display: table
	border-spacing: 10px
	border-collapse: separate
	height: 100px
	width: 100%
	background-color: $foreground-color
	+box-shadow(0px 1px 2px 0px rgba(0,0,0,0.52))
	margin-bottom: 30px
	.nod
		padding-left: 10px
		+vertical-align()
	a
		+vertical-align()
		text-decoration: none
		font-size: 20px
		color: #000
	.username
		cursor: pointer
		float: right
		display: table
		height: 100%
		margin-right: 10px
		.email
			+vertical-align()
			font-size: 20px
		.avatar
			+vertical-align()

.username-selected
	color: $highlight-color
	.profile-picture
		border-color: $highlight-color

.username-open
	.user-dropdown
		visibility: visible

.user-dropdown
	@extend .dropdown
	top: 80px
	right: 30px