.splash-header
    h1
        text-align: center
        margin: 0
        color: #FFF
    background-color: #BBB
    height: 350px
    margin-bottom: 30px

.login-box
    width: 200px
    margin: auto
    text-align: center
    padding: 10px
    *
        margin-bottom: 20px